#include <windows.h>

#include "Identificadores.h"

MenuPrincipal MENU
BEGIN

	POPUP "Nodos"
	BEGIN
		MENUITEM "Agregar", ID_AGREGAR
		MENUITEM "Eliminar", ID_ELIMINAR
		MENUITEM SEPARATOR
		MENUITEM "Salir", ID_SALIR
	END
	
	POPUP "Listar Nodos"
	BEGIN
		MENUITEM "Preorden", ID_PREORDEN
		MENUITEM "Postorden", ID_POSTORDEN
		MENUITEM "Inorden", ID_INORDEN
	END
	
END

ModalAgregarNodo DIALOG 10,10,200,120
STYLE DS_MODALFRAME|WS_POPUP|WS_VISIBLE|WS_CAPTION| WS_SYSMENU|DS_CENTER
CAPTION "Agregar nodo"
FONT 12, "Arial"
BEGIN
	//CONTROL <Texto> <IdControl> <ClaseControl> <EstilosControl> <Posicion>
	CONTROL "Agregar un nuevo nodo al arbol", 100, "STATIC", SS_CENTER| WS_VISIBLE|WS_CHILD, 50,3,100,10
	CONTROL "Datos del Alumno", 100, "BUTTON", BS_GROUPBOX|WS_VISIBLE|WS_CHILD, 5,15,190,70
	CONTROL "Número:", STT_NUMERO, "STATIC", SS_LEFT|WS_VISIBLE|WS_CHILD , 10,30,30,10
	CONTROL "", EDT_NUMERO, "EDIT", ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,41,30,45,10
	CONTROL "Nombre:", STT_NOMBRE, "STATIC", SS_LEFT|WS_VISIBLE|WS_CHILD , 10,45,45,10
	CONTROL "", EDT_NOMBRE, "EDIT", ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,41,45,145,10
	
	CONTROL "Agregar", ID_BTN_AGREGAR_NODO, "BUTTON", BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP, 40,95,50,12
	CONTROL "Cancelar", IDCANCEL, "BUTTON", BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP, 110,95,50,12	
END
